*{
	margin-top: 0px;
	margin-left: 0px;
	/*float: left;*/
	box-sizing: border-box;
	font-family: "Microsoft YaHei";
}
body{
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: #f3f3f3;
	font-size: 14px;
}
.content{
	width: 100%;
	height: calc(100% - 33px);
	overflow:auto;
	font-size: 14px;
	color: #323232;
	overflow-x: auto;
	background-color: #fff;
}
.table{
	border-collapse: collapse;
	border-spacing: 1px;
	width: 100%;
	font-size: 14px;
	color: #323232;
	background-color: #fff;
}
.table_title{
	width: 100%;
	height: 28px;
	border-bottom: 1px solid #d9d9d9;
	line-height: 28px;

}
.table_content{
	width: 100%;
	/*overflow: auto;*/
	overflow: hidden;
}
.row{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #f0f0f0;
	cursor: default;
}
.row:hover{
	background-color: #9BB7E1;
}
.row_checked{
	background-color: #9BB7E1;
}
.row_noChecked{

}
.table_content_item{
	width: 100px;
	padding-left: 20px;

}

.contentBottom{
	width: 100%;
	height: 32px;
	background-color: #e4f1f9;
}

#right_div{
	height: calc(100% - 32px);
	width: 100%;
	float: left;
}
#right_div1{
	/*background: #edeeee;*/
	width: 100%;
	overflow: hidden;
	height :34px;
}
#right_divx{
	width: 1000px;
}
#right_div2{
	margin-top:-2px;
	width:100%;
	height:calc(100% - 30px);
	overflow: auto;
}
#listBox1{
	width: 800px;
	white-space:nowrap;
}
#listBox2{
	/**width和max-width一起写，手机浏览器打开也能固定长度**/
	width: 100px;
	max-width: 2800px;
	white-space:nowrap;
	min-width: 600px;
	table-layout: fixed;
}
#listBox1 tr{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	height: 28px;
}
#listBox1 td{
	text-align:left;
	text-indent: 10px;
}
#listBox2 tr{
	border-bottom: 1px solid #cccccc;
	height: 30px;
}
#listBox2 td{
	width:20px;
	text-align:left;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-indent: 10px;
	font-weight: normal;
}
.borderBottom{
	border-bottom: 1px solid #cccccc;
}
.borderRight{
	border-right: 1px solid #d9d9d9;
}
.table_title_item{
	text-indent: 10px;
	width: 130px;
}
.payNO_title{
	width: 200px;
}









