
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.devarea{
    width: 751px;
    height: 575px;
   /* border: 1px solid #c8c8c8;*/
}

.line{
    width: 711px;
    height: 26px;
   /* border: 1px solid #c8c8c8;*/
    margin: 10px 0 0 20px;
}

.lename{
    float: left;
    font-size: 14px;
    line-height: 26px;
    width: 108px;
}
.leinput{
    float: left;
    width: 222px;
    height: 26px;
    margin-right: 49px;
}
.leinput input{
    width: 222px;
    height: 26px;
    border: 1px solid #d9d9d9;
    padding: 3px;
}
.riname{
    float: left;
    font-size: 14px;
    line-height: 26px;
    width: 108px;
    padding-left: 30px;
}
.riinput{
    float: left;
    width: 222px;
    height: 26px;
}

.riinput input{
    width: 222px;
    height: 26px;
    border: 1px solid #d9d9d9;
    padding: 3px;
}

.latitude{
    width: 138px !important;
    float: left;
}

.inputback{
    background-color: #e5e5e5;
    color: #898989;
}

.xin{
    color: red;
    float: left;
    line-height: 32px;
    height: 26px;
    margin-right: 5px;
}

.more{
    background-image: url("img/more.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.time{
    background-image: url("img/time.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.place{
    float: left;
    background-image: url("img/place.png");
    background-repeat: no-repeat;
    background-position: 80% 50%;
    width: 28px;
    height: 26px;
}

.plname{
    float: left;
    line-height: 26px;
    font-size: 14px;
    cursor:pointer;
}

.lineend{
    width: 711px;
    height: 122px;
    margin: 10px 0 0 20px;
}

.divnote{
    float: left;
    font-size: 14px;
    line-height: 26px;
    width: 601px;
    height: 122px;
}
.texnote{
    float: left;
    width: 601px;
    height: 122px;
    resize: none;
    padding: 3px;
    border: 1px solid #d9d9d9;
}

.endbutt{
    margin-top: 7px;
    width: 100%;
    height: 25px;
    padding-left: 264px;
}

.endbutt{
    margin-top: 7px;
    width: 100%;
    height: 25px;
    padding-left: 264px;
}
.buttsure{
    background-color: #2577e5;
    color: #ffffff;
    width: 103px;
    height: 100%;
    border: 1px solid #2577e5;
    border-radius: 3px;
    margin-right: 10px;
    text-align:center;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    float: left;
}
.buttsure:hover{
    background-color: #1b5fde;
    color: #ffffff;
}
.buttcancel{
    background-color: #ffffff;
    color: #2577e5;
    width: 103px;
    height: 100%;
    border: 1px solid #2577e5;
    border-radius: 3px;
    margin-right: 10px;
    text-align:center;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    float: left;
}

.buttcancel:hover{
    color: black;
}

.lenamebox{
    float: left;
    font-size: 14px;
    line-height: 26px;
    width: 30px;
}

.linebox{
    width: 711px;
    height: 20px;
    margin: 10px 0 0 20px;
}
.lenamename{
    font-size: 14px;
    line-height: 20px;
}

.linebox{
    height: 26px;

}
.lenameCheckbox{
    width: 13px;
    height: 13px;
    margin-top: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.lenameCheckbox:hover{
    cursor: pointer;
}
.lenamename{

}
.isChecked{
    background-image: url(img/isChecked.png);
}
.noChecked{
    background-image: url(img/noChecked.png);
}






















