*{
	/*float: left;*/
	box-sizing: border-box;
	font-family: 'Microsoft YaHei';
}
body{
	width: 100%;
	margin: 0px;
	font-size: 14px;
	overflow: hidden;
	height: 530px;
}
.table{
	border-collapse: collapse;
	border-spacing: 1px;
	width: 100%;
	font-size: 14px;
	color: #323232;
	background-color: #fff;
}
.table_title{
	width: 100%;
	height: 28px;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	line-height: 28px;

}
.table_title_item{
	border-right: 1px solid #d9d9d9;
	width: 120px;
	text-align: center;
}
.table_title_item2{
	width:608px;
	text-align: center;
	border-right: 1px solid #d9d9d9;
}
.table_title_item3{
	border-right: 1px solid #d9d9d9;
	width: 235px;
	text-align: center;
}
.table_title_item_last{
	padding-left: 18px;
	padding-right: 18px;
}
.table_content{
	width: 100%;
	/*overflow: auto;*/
	overflow: hidden;
}
.row{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #d9d9d9;
	line-height: 30px;
}
.table_item_4{
	/*width: 93px;*/
	width:120px;
	height:30px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.table_item_4_3{
	/*width: 93px;*/
	width:235px;
	height:30px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-indent: 10px;
}
.title{
	margin-left: 10px;
	width: 100%;
	height: 30px;
	float: left;
}
.title_add{
	height: 30px;
	cursor: pointer;
	-moz-user-select:none;
	-webkit-user-select: none;
	-ms-user-select: none;
	float: left;
}
.title_add:hover{
	color: #2777E2;
}
.title_add:active{
	padding-top: 1px;
}
.title_add_img{
	width: 12px;
	height: 12px;
	margin-top: 10px;
	background-image: url(../../../resource/images/index/add.png);
	background-position: -12px;
	float: left;
}
.title_add_text{
	margin-left: 5px;
	line-height: 30px;
	color: #898989;
	float: left;
}
.title_del{
	margin-left: 20px;
	cursor: pointer;
	-moz-user-select:none;
	-webkit-user-select: none;
	-ms-user-select: none;
	float: left;
}
.title_del:hover{
	color: #F65351;
}
.title_del:active{
	padding-top: 1px;
}
.title_del_img{
	width: 12px;
	height: 12px;
	margin-top: 10px;
	background-image: url(../../../resource/images/index/del_close.png);
	background-position: -12px;
	float: left;
}
.title_del_text{
	margin-left: 5px;
	line-height: 30px;
	color: #898989;
	float: left;
}
.row_checked{
	background-color: #e4f1f9;
}
.row_noChecked{

}
.table_item_4_2{
	/*width: 93px;*/
	width: 591px;
	height:30px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-indent: 10px;
}
.table_title_item4{
	width:0px;
}
.content{
	width: 100%;
	height: calc(100% - 44px);
	/*overflow:auto;*/
	font-size: 14px;
	color: #323232;
	/*overflow-x: auto;*/
	background-color: #fff;
}
.tr{
	text-indent: 10px;
	cursor:default;
}
#right_div{
	height: calc(100%);
	width: 100%;
	float: left;
}
#right_div1{
	/*background: #edeeee;*/
	width: 100%;
	overflow: hidden;
	height :34px;
}
#right_divx{
	width: 2000px;
}
#right_div2{
	margin-top:0px;
	width:100%;
	height:calc(100% - 30px);
	overflow: auto;
}
#listBox1{
	/*width: 1074px;*/
	width: 978px;
	white-space:nowrap;
}
#listBox2{
	/**width和max-width一起写，手机浏览器打开也能固定长度**/
	width: 60px;
	max-width: 2800px;
	white-space:nowrap;
	min-width: 60px;/*列数*20*/
	table-layout: fixed;
}
#listBox1 tr{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	height: 28px;
}
#listBox1 td{
	text-align:left;
	text-indent: 10px;
}
#listBox2 tr{
	border-bottom: 1px solid #cccccc;
	height: 30px;
}
#listBox2 td{
	width:20px;
	text-align:left;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-indent: 10px;
	font-weight: normal;
}
.noChecked{
	width: 13px;
	height: 13px;
	background: url(../eventSetting/img/noChecked.png);
	background-repeat: no-repeat;
	margin: 8px;
	float: left;
}
.isChecked{
	width: 13px;
	height: 13px;
	background: url(../eventSetting/img/isChecked.png);
	background-repeat: no-repeat;
	margin: 8px;
	float: left;
}
.selected{
	background-color:#E4F1F9;
}