*{
	box-sizing: border-box;
}
body {
    margin: 0px;
    width: 100%;
    height: 100%;
}
.contentRight{
	width: 100%;
	height: 100%;
	float: left;
	
}
.contentRight *{
	float: left;
	font-family: 'Microsoft YaHei';
}
.contentRight_title{
	width: 100%;
	height: 30px;
	font-family: 'MicrosoftYaHei';
	font-size: 14px;
	color: #898989;
	padding-left: 10px;
	padding-right: 10px;

}
.contentRight_bottom{
	width: 100%;
	height: calc(100% - 30px);
	border-top: 1px solid #d9d9d9;
}
.contentRight_tab_container{
    width: 100%;
    height: 30px;
    
    font-size: 14px;
 	color: #323232;
 	border-bottom: 1px solid #D9D9D9;
 	/*background-color: #e5f1f9;*/
}
.contentRight_add{
	height: 30px;
	cursor: pointer;
	-moz-user-select:none;
	-webkit-user-select: none; 
	-ms-user-select: none; 

}
.contentRight_add:hover{
	color: #2777E2;
}
.contentRight_add:active{
	padding-top: 1px;
}
.contentRight_add_img{
	width: 12px;
	height: 12px;
	margin-top: 10px;
	background-image: url(../../resource/images/index/add.png);
	background-position: -12px;
}
.contentRight_add_text{
	margin-left: 5px;
	line-height: 30px;

}
.contentRight_del{
	
	margin-left: 20px;
	cursor: pointer;
	-moz-user-select:none;
	-webkit-user-select: none; 
	-ms-user-select: none; 
}
.contentRight_del:hover{
	color: #F65351;

}
.contentRight_del:active{
	padding-top: 1px;
}
.contentRight_del_img{
	width: 12px;
	height: 12px;
	margin-top: 10px;
	background-image: url(../../resource/images/index/del_close.png);
	background-position: -12px;
}
.contentRight_del_text{
	margin-left: 5px;
	line-height: 30px;
}

.tab_item{
	padding-right: 15px;
	padding-left: 15px;
	height: 30px;
	line-height: 30px;
	cursor: default;
	border-right: 1px solid #D9D9D9;
	-moz-user-select:none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.contentRight_Iframe_container{
	width: 100%;
	height:calc(100% - 30px);
}


#firstIframe{
	width: 0px;
	height: 100%;
}
.contentRight_Iframe_container iframe{
	width: 0px;
	height: 100%;
	border-width: 0px;
}
.table{
	width: 100%;
	height: calc(100% - 0px);
	overflow: auto;
	font-size: 14px;
 	color: #323232;
}
.table_title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #D9D9D9;

}
.table_title_item{
	width: 110px;
	border-right: 1px solid #D9D9D9;
	padding-left: 27px;
	padding-right: 21px;
}
.table_title_item_Desc{
	/*width: 55%;*/
	width: 30%;
	padding-left: 21px;
	padding-right: 21px;
}
.table_content{
	width: 100%;
}
.row{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #f0f0f0;
	cursor: default;
}
.row:hover{
	background-color: #e4f1f9;
}

.row_isChecked{
	background-color: #e4f1f9;
}
.table_item{
	width: 99px;
	height:30px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.table_item_4{
	width: 110px;
	height:30px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table_item_5{
	/*width: 50%;*/
	width: 30%;
	height:30px;
	padding-left: 15px;
	padding-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ddBox.show{
    display: block;
}
.ddBox.hide{
    display: none;
}

.ddBox span {
	padding-left: 5px;
	font-size: 12px;
	display: block;
}
.ddBox span:hover{
	background-color: #e4f1f9;
}

.ddBox.Box{
	position: absolute;
    top: -200%;
    left: -200%;
    width: 270px;
    max-height: 85px;
    overflow: auto;
    /*height: 52px;*/
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    z-index: 3333333333;
}
.noPoint {
	pointer-events: none;
	opacity: 0.5;
}