*{
	float: left;
	box-sizing: border-box;
	font-family: 'Microsoft YaHei';
}
body{
	width: 100%;
	margin: 0px;
	font-size: 14px;
	height: 519px;
}
.table{
	width: calc(100%);
}
.table_title{
	width: calc(100%);
	height: 30px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	line-height: 28px;

}
.table_title_item{
	padding-left: 30px;
	padding-right: 30px;
	border-right: 1px solid #d9d9d9;
}
.table_title_item_last{
	padding-left: 30px;
	padding-right: 30px;
	
}
.table_content{
	width: 100%;
	height: 490px;
	overflow: auto;
}
.row{
	width: 100%;
	height:30px;
	border-bottom: 1px solid #d9d9d9;
	line-height: 30px;
}
.table_item_4{
	width: 117px;
	height:30px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}