*{
	box-sizing: border-box;
	/*display: inline-block;*/
	font-family: 'Microsoft YaHei';
	font-size: 14px;
    float: left;
}
.body{
	width: 1300px;
	height: 800px;
	margin: 0;
	
}
.title{
	width: 100%;
	height: 30px;
	background-color: #335281;
	color: #FFF;


}
.title_left{
	line-height: 30px;
	margin-left: 10px;

}
.title_close{
	float: right;
	width: 30px;
	height: 30px;

	background-image: url(../resource/images/rdPolice/close.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
	cursor: pointer;
	-moz-user-select:none;
	-webkit-user-select: none;
	-ms-user-select: none;

}
.title_close:hover{
	background-color: #f75352;
}
.content{
	width: 100%;
	height: calc(100% - 30px);
	
	padding: 10px;
}
.left_content{
    width: 1280px;
    height: 100%;
    
}
.right_content{
	display: none;
	width: 640px;
    height: 100%;
    margin-left: 10px;
}
.content_title{
	width: 100%;
	height: calc(100% - 720px);
	color: #345281;
	line-height: 27px;
}
.content_video_container{
	width: 100%;
	height: 720px;
	border: 1px solid #d9d9d9;
}
.left_content_video{
	width: 100%;
	height: calc(100% - 35px);

}
.right_content_video{
    width: 100%;
    height: calc(100% - 35px);

}
.left_content_ctrlContainer{
	width: 100%;
	height: 35px;

}
.right_content_ctrlContainer{
    width: 100%;
    height: 35px;

}

.screenshot{
	width: 23px;
	height: 18px;
	background-image: url(./images/screenshot.png);
    margin-top: 9px;
    margin-left: 15px;
}
.makeVideo{
    width: 23px;
    height: 18px;
    background-image: url(./images/video.png);
    margin-top: 9px;
    margin-left: 20px;
}
.fullScreen{
    width: 23px;
    height: 18px;
    background-image: url(./images/fullScreen.png);
    margin-top: 9px;
    margin-left: 20px;
}
.stop{

    height: 18px;
    background-image: url(./images/stop.png);
    background-repeat: no-repeat;
    margin-top: 9px;
    padding-left: 15px;
    margin-left: 435px;
}
.start{
    width: 72px;
    height: 35px;
    background-image: url(./images/start.png);
    background-repeat: no-repeat;
    background-color: #335281;
    background-position: 12px center;
    padding-left: 30px;
    margin-left: 10px;
    color: #fff;
    line-height: 35px;
}

.showObject
{
    visibility: visible;
    width: 100%  !important;
    height: 100%  !important;
}

.content_title_full{
	width: 100%;
	height: calc(100% - 720px);
	color: #345281;
	line-height: 27px;
}
.stop_full{
	
}