*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    /*border: 1px solid #f00;*/
    width: 100%;
    height:100%;
    background-color: #f3f3f3;
}
.left-side{
    border: 1px solid #eaeaea;
    float: left;
    width: 210px;
    height:100%;
    background-color: #FFF;
    overflow-y: scroll;
}
.main-side{
    border: 1px solid #eaeaea;
    float: left;
    width: 210px;
    height:calc(100% - 50px);
    background-color: white;
}

#area{
    border-bottom: 1px solid #d5d5d5;
    float: left;
    width: 100%;
    height: 35px;
    overflow: hidden;
}

#refrelany{
    float: left;
    width: 100%;
    height:40px;
    overflow: hidden;
}

#tree{
  /*  border: 1px solid #f00;*/
    float: left;
    width: 100%;
    height:100%;
    overflow: scroll;
}

.areatex{
    float: left;
    width: auto;
    height: 35px;
    padding: 0 65px 0 10px;
    line-height: 35px;
    color:#323232;
    text-align: center;
}


#add{
    background-image: url("hmdrectoryimg/add.png");
    background-position: 0% 50%;
    background-repeat: no-repeat;
}
#add:hover{
    cursor: pointer;
    background-position:-12px 12px;
}

#update{
    background-image: url("hmdrectoryimg/update.png");
    background-position: 0% 50%;
    background-repeat: no-repeat;
}
#update:hover{
    cursor: pointer;
    background-position:-12px 12px;
}

#close{
    background-image: url("hmdrectoryimg/close.png");
    background-position: 0 12px;
    background-repeat: no-repeat;
}

#close:hover{
    cursor: pointer;
    background-position:-12px 12px;
}


.search-div{
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    float: left;
    width: 170px;
    height: 27px;
    margin: 5px 0 0 5px;
    line-height: 27px;
}
.search-div input{
    border:none;
    float: left;
    width: 140px;
    height: 24px;
    line-height: 24px;
    padding-left: 5px;
}

.search-div i{
    float: right;
    width: 20px;
    height: 27px;;
    margin-right: 5px;
    background: url("hmdrectoryimg/search.png")  no-repeat center ;
    cursor: pointer;
}

.flash-btn{
    float: right;
    width: 20px;
    height: 35px;
    margin:0 7px 0 0;
    background: url("hmdrectoryimg/flash.png") no-repeat 0px 8px;
    cursor: pointer;
}
.flash-btn:active{
    background-position: 0px 9px;
}

.ateabutt {
    float: left;
    width: 12px;
    height: 35px;
    margin: 0 10px 0 0;
}

#title{
    width: 100%;
    height: 34px;
    line-height: 34px;
    background-image: url("hmdrectoryimg/mulu.png");
    background-position: 7% 50%;
    background-repeat: no-repeat;
    padding-left: 35px;
    background-color: #eaeaea;
}

#left{
	float:left;
    height: 100%;
}

.streediv{
    float: left;
    width: 208px;
    height: calc(100% - 75px);
}

aside ul li{
    font-size: 14px;
    line-height: 30px;
    font-family: "Microsoft YaHei";
    padding-left: 35px;
    list-style-type:none;
    cursor: default;
    /*color: #898989;*/
    color: #323232;
    /*margin-top: 15px;*/
}
aside ul li:first-child{
    margin-top: 10px;
}
aside ul li:hover{
    background-color: #2277E2;
    height: 30px;
    width: 100%;
    color: #fff;
}
.main{
    height: calc(100%) ;
}
main ul li{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    margin-left: 10px;
    list-style-type:none;
    margin-top: 15px;
    float: left;
}
main ul li:first-child{
    margin-top: 10px;
}
.checked{
    background-color: #2277E2;
    color: white;
}
.framecls{
    border:0px;
    width: 0px;
}
.framecls2{
    width: 100%;
    border: 0px;
}























