
*{
    float: left;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    box-sizing: border-box;

}
body{
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 0px;
}

.box{
    width: 300px;
    height: 200px;
    overflow-y: scroll;
}
.title{
    width: 100%;
    height: 30px;
    background-color: #2577e5;
    color: #FFF;


}
.title_left{
    line-height: 30px;
    margin-left: 10px;

}
.title_close{
    float: right;
    width: 30px;
    height: 30px;

    background-image: url(../../../../../resource/images/index/close.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    cursor: pointer;
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
.title_close:hover{
    background-color: #f75352;
}
.text_lab_7{
    height: 24px;
    width: 65px;
    line-height: 24px;
    margin-left: 20px;
    margin-top: 10px;
}
.margintop2{
    margin-top: 2px;
}
.text_select{
    width: 180px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #d9d9d9;
    margin-left: 10px;
    padding-left: 0px;
    padding-right: 16px;
    outline: none;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}
.text_input{
    width: 180px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #d9d9d9;
    margin-left: 10px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 10px;
}
select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #d9d9d9;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("../../../../../resource/images/index/more.png") no-repeat scroll 98% center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}
.bottom_buttons{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    padding-left: calc((100% - 216px)/2);
}
.confirmButton{
    width: 103px;
    height: 25px;
    text-align: center;
    border-radius: 3px;
    background-color: #2577e5;
    color: #FFF;
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
.confirmButton:hover{
    background-color: #1b5fde;
}
.confirmButton:active{
    padding-top: 1px;
}
.cancelButton{
    width: 103px;
    height: 25px;
    margin-left: 10px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #2577e5;
    color: #2577e5;
    line-height: 23px;
    font-size: 14px;
    cursor: pointer;
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cancelButton:hover{
    border: 1px solid #1b5fde;
    color: #323232;
}
.cancelButton:active{
    padding-top: 1px;
    color: #323232;

}
.star{
    margin-top: 3px;
    padding-right: 2px;
    color: red;
    width: 9px;
}
.Validform_checktip{
    margin-left: 2px;
    line-height:20px;
    width:20px;
    height:20px;
    overflow:hidden;
    color:#999;
    font-size:12px;
}
.margintop14{
    margin-top: 14px;
}
#devId_editable-select-options{
    width:178px!important;
}
#devId_editable-select-options ul li:hover{
    background-color: #2577E5;
    color:white;
}
.editable-select-options li {
    cursor: default;
    padding: 2px 4px;
    width: 178px;
}